[phases.setup]
nixPkgs = ["nodejs_20", "npm", "python3", "gcc", "g++", "make"]

[phases.install]
# We delete the lockfile to force the server to generate a new one compatible with the Linux environment
cmds = [
    "rm -f package-lock.json",
    "npm install"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"