[phases.setup]
nixPkgs = ["nodejs_20", "npm", "python3", "make", "gcc", "g++"]

[phases.install]
# We remove package-lock.json to force a fresh install on Linux
cmds = ["rm -f package-lock.json", "npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"