[phases.setup]
nixPkgs = ["nodejs_20", "npm", "python3", "make", "gcc", "g++"]

[phases.install]
cmds = ["npm install --include=optional"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"