[phases.setup]
nixPkgs = ["nodejs_20", "npm", "python3", "gcc", "g++", "make"]

[phases.install]
# We must delete the lockfile and node_modules to avoid platform-specific binary conflicts (e.g. Rollup/Esbuild)
cmds = [
    "rm -rf package-lock.json node_modules",
    "npm install --no-package-lock"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"