
providers = ["node"]

[phases.setup]
nixPkgs = ["nodejs", "npm", "python3", "make", "gcc", "g++"]

[phases.install]
# Explicitly use install --no-package-lock to prevent npm ci usage and ignore lockfile mismatches
cmds = ["npm install --no-package-lock"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"
