providers = ["node"]

[phases.setup]
nixPkgs = ["nodejs", "npm"]

[phases.install]
# We remove package-lock.json to prevent "npm ci" from running or failing due to platform mismatches
cmds = ["rm -f package-lock.json", "npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"